<div class="container">
    <div class="row">
        <div class="col s12 m12 l9">
            <div class="row">
                <div class="section col s8">
                    <h4>Your Gig</h4>
                </div>
                <div class="edit-gig col s4 right-align">
                    <h5 style="font-size: 1.25em ;margin-top: 33px"><i class="material-icons" style="font-size: 16px">mode_edit</i>Edit</h5>
                </div>
                <div class="col s12 divider"></div>
            </div>
            <div class="col s12">
                <div class="carousel carousel-slider center" data-indicators="true">
                    <div class="carousel-item red white-text" href="#one!">
                    </div>
                    <div class="carousel-item amber white-text" href="#two!">
                    </div>
                    <div class="carousel-item green white-text" href="#three!">
                    </div>
                    <div class="carousel-item blue white-text" href="#four!">
                    </div>
                </div>
            </div>
            <div class="col s12 divider" style="margin-top: 20px"></div>
            <div class="discreption col s12">
                <div class="title">
                    <h5>discreption</h5>
                </div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo eaque reprehenderit atque labore, eius, fuga, mollitia consequatur consectetur, nesciunt provident quae ab. Quasi quam eius, nesciunt, omnis doloremque iste a.
            </div>
            <div class="catagory col s12">
                <div class="chip">
                    Tag
                    <i class="close material-icons">close</i>
                </div>
                <div class="chip">
                    Tag
                    <i class="close material-icons">close</i>
                </div>
                <div class="chip">
                    Tag
                    <i class="close material-icons">close</i>
                </div>
                <div class="chip">
                    Tag
                    <i class="close material-icons">close</i>
                </div>
                <div class="chip add white" style="margin-top: 40px">
                    add skill
                    <i class="close material-icons">library_add</i>
                </div>
            </div>
            <div class="col s12 divider" style="margin-top: 40px"></div>
            <div class="reviews col s12">
                <div class="section" style="margin-top: 20px">
                    <h5>Reviews</h5>
                </div>
                <div class="review"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
            </div>
        </div>
    </div>
</div>