<div class="container" style="max-width: 1500px">
    <div class="chat-window background-card">
        <div class="chat-wrapper row">
            <div class="chat-sidebar col s12 m5 l4">
                <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <div class="chat-head row">
                        <div class="pin circle">
                            <h6>5</h6>
                        </div>
                        <div class="head-wrapper">
                            <div class="img-wrapper col s4">
                                <img class="profile-pic" src="assets/images/pic.jpg" alt="">
                            </div>
                            <div class="text-wrapper col s8">
                                <div class="name-wrapper">
                                    <h5>Parth</h5>
                                </div>
                                <div class="msg-wrapper grey-text text-darken-1">
                                    <h6>last msg</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <div class="chat-head row">
                        <div class="pin circle">
                            <h6>5</h6>
                        </div>
                        <div class="head-wrapper">
                            <div class="img-wrapper col s4">
                                <img class="profile-pic" src="assets/images/pic.jpg" alt="">
                            </div>
                            <div class="text-wrapper col s8">
                                <div class="name-wrapper">
                                    <h5>Parth</h5>
                                </div>
                                <div class="msg-wrapper grey-text text-darken-1">
                                    <h6>last msg</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat col s12 m7 l8">
                <div class="topbar row background-card">
                    <div class="chat-head col s12 small">
                        <div class="head-wrapper">
                            <div class="img-wrapper col s4">
                                <img class="profile-pic" src="assets/images/pic.jpg" alt="">
                            </div>
                            <div class="text-wrapper col s8">
                                <div class="name-wrapper">
                                    <h5>Parth</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-container">
                    <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                        <div class="bubble-container">
                            <div class="bubble">
                                <span>
                                hi baby
                            </span>
                            </div>
                        </div>
                        <div class="bubble-container my">
                            <div class="bubble">
                                <span>
                                hi baby
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>