<nav>
    <div class="nav-wrapper">
        <a class="logo">
            <img src="assets/images/logo_dark.svg" alt="">
        </a>
        <div class="search hide-on-med-and-down">
            <input type="text">
            <img src="assets/images/zoom.svg" alt="">
        </div>
        <div class="search-mobile hide-on-large-only">
            <input type="text" placeholder="Search">
            <img src="assets/images/zoom.svg" alt="">
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="icon"><img src="assets/images/cart.svg"></li>
            <li class="icon left-line"><img src="assets/images/cart.svg"></li>
            <li class="icon left-line"><img src="assets/images/chat.svg"></li>
            <li class="text left-line" style="margin-right: 5px">post a job</li>
            <li class="add glow-blue circle blue base" style="margin-left: 5px"></li>
            <li class="img left-line"><img src="assets/images/pic.jpg" alt=""></li>
            <li class="text" style="margin-left: 5px">JavaScript</li>
        </ul>
        <div class="dots right hide-on-large-only">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="search-icon right hide-on-large-only" style="height: 64px; margin: 12px">
            <img src=" assets/images/zoom.svg " alt=" " style="height: 30px;margin-top: 5px">
        </div>
    </div>
</nav>
<router-outlet></router-outlet>