<nav>
    <div class="nav-wrapper">
        <a class="logo">
            <img src="assets/images/logo_dark.svg" alt="">
        </a>
        <div class="search hide-on-med-and-down">
            <input type="text">
            <img src="assets/images/zoom.svg" alt="">
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="left-line">Sass</li>
            <li class="icon left-line"><img src="assets/images/chat.svg"></li>
            <li class="img left-line"><img src="assets/images/pic.jpg" alt=""></li>
            <li class="text" style="margin-left: 5px">JavaScript</li>
        </ul>
        <div class="dots right show-on-med-and-down">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>