app-login
    .wrapper
        background-image: url("assets/images/pattern.svg")
        background-size: contain
        overflow: auto
        height: 100vh
        .login
            margin: 100px auto
            border-radius: 10px
            width: 500px
            padding: 30px
            box-shadow: 0px 3px 30px rgba(#000,0.3)
            background-color: #fff
            .logo
                margin: 50px auto
                width: 300px 
            .title
                h1
                    font-size: 2em
                    color: color("blue", "base")
            form.login-form
                width: 100%
                // background-color: #ff4545
                margin: auto
                padding: 20px
            .gplus
                background-color: #da3d00
@media screen and (max-width: 750px) and (orientation: landscape)
    app-login
        .wrapper
            background-image: none
            .login
                margin: 0
                box-shadow: none
                width: 100%

@media (max-width: 500px) 
    app-login
        .wrapper
            background-image: none
            .login
                .logo
                    margin: 50px auto
                    width: 100%
                    max-width: 250px 
                margin: 0
                box-shadow: none
                width: 100%