<div class="container">
    <div class="row">
        <div class="section">
            <h4 *ngIf="isMe">My profile</h4>
            <h4 *ngIf="!isMe">{{user.firstname}}'s profile</h4>
        </div>
        <div class="divider"></div>
        <!--sidebar start-->
        <div class="col l4 m12 s12 left profile-data center-align" style="padding: 20px">
            <div class="background-card">
                <!--profile pic-->
                <div class="profile-pic center circle">
                    <img [src]="user.profilePicture" alt="" class="pic">
                </div>
                <div class="name center">
                    <!--name of freelancer-->
                    <h5 class="center" style="padding-bottom: 5px">
                        {{user.firstname}} {{user.lastname}}
                    </h5>
                </div>
                <!--ratings >>>>>>-note on class fills star-->
                <ratings totalStars=5 [ratings]='user.average_ratings'></ratings>
                <div class="divider"></div>
                <div>
                    <div class="details row">
                        <div class="detail">
                            <!--title of details-->
                            <div class="col s3 left-align title">
                                <i class="material-icons">email</i>
                                <p>
                                    Email
                                </p>
                            </div>
                            <!--info about given detail-->
                            <div class="col s9 right-align info">
                                <!--info-->
                                <p style="margin-top: -1px">
                                    {{ user.email }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="details row">
                        <div class="detail">
                            <!--title of details-->
                            <div class="col s3 left-align title">
                                <i class="material-icons">place</i>
                                <p>
                                    Area
                                </p>
                            </div>
                            <!--info about given detail-->
                            <div class="col s9 right-align info">
                                <!--info-->
                                <p style="margin-top: -1px">
                                    {{ user.city }}, {{user.country}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <!--devider line-->
                </div>
                <div class="divider"></div>
                <div class="details row">
                    <div class="detail">
                        <!--title of details-->
                        <div class="col s3 left-align title">
                            <i class="material-icons">language</i>
                            <p>
                                Lang
                            </p>
                        </div>
                        <!--info about given detail-->
                        <div class="col s9 right-align info">
                            <!--info-->
                            <p style="margin-top: -1px">
                                {{ user.langauges }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="details row">
                    Profile Completeness
                    <div class="bar" style="border: 1px solid; height: 15px">
                        <div style="background-color:#2196F3; height: 100%" [style.width]="user.profileCompleteness + '%'"></div>
                    </div>
                </div>
                <div class="details row">
                    <a *ngIf="!isMe" class="waves-effect waves-light btn"><i class="material-icons left">message</i>Let's get in touch</a>
                    <a *ngIf="isMe" class="waves-effect waves-light btn"><i class="material-icons left">mode_edit</i>Edit Profile</a>
                </div>

                <!--devider line-->

                <!--use this structure for addin bio-->
                <!--<div class="bio row">
                    <div class="col s12 left-align title">
                        <i class="material-icons icon">star</i>
                        <p>
                            bio
                        </p>
                    </div>
                    <div class="col s12 left-align bio info">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione cum, dolorum in ut porro nam! Consequuntur eveniet molestias, labore laboriosam iste, ratione pariatur repudiandae, libero deleniti reprehenderit explicabo optio. Non.
                        </p>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="col s12 l8 right profile-disc" style="padding: 20px">
            <div class="background-card">
                <div class="about">
                    <h5>Bio</h5>
                    <p>
                        {{ user.bio }}
                    </p>
                </div>
                <div class="skills">
                    <h5 class="skill">
                        Skills
                    </h5>
                    <div class="chip" *ngFor="let skill of user.skills">
                        {{ skill }}
                    </div>

                    <div class="chip add white" *ngIf="isMe">
                        add skill
                        <div class="btn btn-add glow-blue circle" (click)="openEditSkillModal()">
                            <div class="add"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gigs posted" *ngIf="gigs.length > 0">
                <div class="title row">
                    <h4 class="left">
                        Posted Gigs
                    </h4>
                </div>
                <div class="row" style="margin-left: 0;margin-right: 0">
                    <div *ngFor="let gig of gigs">
                        <div class="col s12 m4">
                            <div class="gig-card">
                                <ratings totalStars=5 [ratings]='gig.average_ratings'></ratings>
                                <div class="pic">
                                    <img [src]="gig.banners[0]" alt="">
                                </div>
                                <div class="title">
                                    <h6>
                                        {{ gig.title }}
                                    </h6>
                                </div>
                                <div class="bottom">
                                    <div class="posted-by left">
                                        <h6>
                                            <a>
                                               {{ user.firstname }} {{ user.lastname }}
                                           </a>
                                        </h6>
                                    </div>
                                    <div class="rate right">
                                        <h6>
                                            ${{ gig.price }}
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio">
                <div class="title row">
                    <div class="col">
                        <h4 class="left" style="line-height: 0px">
                            Portfolio
                        </h4>

                    </div>
                    <div class="col">
                        <a class="btn-floating waves-effect waves-light red" *ngIf="isMe" (click)="openCreateProjectModal()"><i class="material-icons">add</i></a>
                    </div>

                </div>
                <div class="row">
                    <div *ngFor="let portfolio of user.portfolio; let i = index;">
                        <div class="col s12 m6 l4">

                            <div class="portfolio-card">
                                <div class="btn-del" (click)="deletePortfolio(i)">
                                    <div class="btn-add glow-pink circle red base" style="z-index: 10">
                                        <div class="add"></div>
                                    </div>
                                </div>

                                <div class="pic">
                                    <img [src]="portfolio.image" alt="" onerror="this.src = 'http://www.thebakerymadewithlove.com/wp-content/uploads/2014/08/placeholder.png'">
                                </div>
                                <div class="title">
                                    <h6>
                                        {{ portfolio.title }}
                                    </h6>
                                </div>
                                <div class="row" style="padding: 5px">
                                    <div class="chip" *ngFor="let skill of portfolio.skills">{{skill}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews">
                <div class="title row">
                    <h4 class="left">
                        Reviews
                    </h4>
                </div>
                <div class="row">
                    <div class="">
                        <ul class="collection">
                            <li class="collection-item avatar" *ngFor="let rating of ratings">
                                <b><span class="title">{{ rating.gig.title }}, {{ r.client.name }}</span></b>
                                <p>Apr 2016 - Jan 2017</p>
                                <ratings totalStars=5 [ratings]='rating.count'></ratings>
                                <p><i>
                                    {{ r.feedback }}
                                </i></p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="createPortfolio" class="modal">
        <div class="modal-content">
            <h4>Add Project</h4>
            <div class="row">
                <form [formGroup]="projectForm" (ngSubmit)="saveProject()">
                    <div class="col s6 input-field">
                        <input type="text" id="title" required formControlName="title">
                        <label for="title">Project Title</label>
                    </div>
                    <div class="col s6 input-field">
                        <input type="date" class="datepicker" id="date" required formControlName="date">
                    </div>
                    <div class="col s12 m6 input-field file-field">
                        <div class="btn">
                            <span>Thumbail Image</span>
                            <input type="file" id="thumbnail" multiple required>
                        </div>
                    </div>
                    <div class="col s12 m6 input-field file-field">
                        <div class="btn">
                            <span>Attachments(multiple)</span>
                            <input type="file" id="attachments" multiple>
                        </div>
                    </div>
                    <div class="col s12 input-field">
                        <div id="selectSkills" class="chips"></div>
                    </div>

                    <div class="col s12 input-field">
                        <textarea id="description" class="materialize-textarea" required formControlName="description"></textarea>
                        <label for="description">Description</label>
                    </div>
                    <div class="input-field col s6 offset-l4 offset-m4 offset-s3">
                        <button (click)="saveProject()" type="button" [disabled]="!projectForm.valid" class="btn waves-effect waves-light btn">Save Project</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<div id="skillModal" class="modal">
    <div class="modal-content">
        <div class="col s12 input-field">
            <div id="editSkills" class="chips"></div>
        </div>
        <div class="col s12 input-field">
            <div class="center-align">
                <button class="submit btn glow-blue round" (click)="saveSkills()">Save</button>
            </div>
        </div>
    </div>
</div>