<div class="container">

    <div class="row">
        <div class="section">
            <h4>My profile</h4>
        </div>
        <div class="divider"></div>
        <!--sidebar start-->
        <div class="col l4 m12 s12 left profile-data center-align" style="padding: 20px">
            <div class="background-card" style="max-width: 350px;margin: auto">
                <!--profile pic-->
                <div class="profile-pic center circle">
                    <img src="assets/images/pic.jpg" alt="" class="pic">
                </div>
                <div class="name center">
                    <!--name of freelancer-->
                    <h5 class="center" style="padding-bottom: 5px">
                        ChakaBhai Khatri
                    </h5>
                </div>
                <!--ratings >>>>>>-note on class fills star-->
                <div class="rating center-align" style="padding-bottom: 10px">
                    <i class="material-icons on">star</i>
                    <i class="material-icons on">star</i>
                    <i class="material-icons on">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                </div>
                <div class="divider"></div>
                <div *ngFor="let i of [1,2,3,4,5]">
                    <!--repeat this for adding singal line details-->
                    <div class="details row">
                        <div class="detail">
                            <!--title of details-->
                            <div class="col s6 left-align title">
                                <!--icon-->
                                <i class="material-icons icon">star</i>
                                <!--title-->
                                <p>
                                    test
                                </p>
                            </div>
                            <!--info about given detail-->
                            <div class="col s6 right-align info">
                                <!--info-->
                                <p>
                                    test
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--devider line-->
                    <div class="divider"></div>
                </div>
                <!--use this structure for addin bio-->
                <!--<div class="bio row">
                    <div class="col s12 left-align title">

                        <i class="material-icons icon">star</i>
                        <p>
                            bio
                        </p>
                    </div>
                    <div class="col s12 left-align bio info">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione cum, dolorum in ut porro nam! Consequuntur eveniet molestias, labore laboriosam iste, ratione pariatur repudiandae, libero deleniti reprehenderit explicabo optio. Non.
                        </p>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="col l8 right profile-disc" style="padding: 20px">
            <div class="background-card">
                <div class="about">
                    <h5>discription</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptatibus velit architecto, laboriosam perferendis aut repudiandae iste illo, hic deserunt error quos aspernatur cupiditate molestias non maiores repellendus. Porro, fugiat.
                    </p>
                </div>
                <div class="skills">
                    <h5 class="skill">
                        Skills
                    </h5>
                    <div class="chip">
                        Tag
                        <i class="close material-icons">close</i>
                    </div>
                    <div class="chip">
                        Tag
                        <i class="close material-icons">close</i>
                    </div>
                    <div class="chip">
                        Tag
                        <i class="close material-icons">close</i>
                    </div>
                    <div class="chip">
                        Tag
                        <i class="close material-icons">close</i>
                    </div>
                    <div class="chip add white">
                        add skill
                        <div class="btn btn-add glow-blue circle">
                            <div class="add"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gigs posted">
                <div class="title row">
                    <h4 class="left">
                        Posted Gigs
                    </h4>
                    <h5 class="more right">
                        more
                    </h5>
                </div>
                <div class="row" style="margin-left: 0;margin-right: 0">
                    <div *ngFor="let i of [1,2,3]">
                        <div class="col s12 m4">
                            <div class="gig-card">
                                <div class="rating small">
                                    <i class="material-icons on">star</i>
                                    <i class="material-icons on">star</i>
                                    <i class="material-icons on">star</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                </div>
                                <div class="pic">
                                    <img src="assets/images/gig.jpg" alt="">
                                </div>
                                <div class="title">
                                    <h6>
                                        I will kill you and have fun while watching it
                                    </h6>
                                </div>
                                <div class="bottom">
                                    <div class="posted-by left">
                                        <h6>
                                            chakabhai
                                        </h6>
                                    </div>
                                    <div class="rate right">
                                        <h6>
                                            $5
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio">
                <div class="title row">
                    <h4 class="left">
                        portfolio
                    </h4>
                    <h5 class="more right">
                        more
                    </h5>
                </div>
                <div class="row">
                    <div class="col s12 m12 l8">
                        <div class="portfolio-card port-large ">
                            <div class="row">
                                <div class="col s6 m7 l8" style="overflow: hiden">
                                    <img src="assets/images/gig.jpg" alt="">
                                </div>
                                <div class="col s6 m5 l4">
                                    <h5>Title</h5>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque in modi, labore eligendi distinctio quos eveniet consequatur corporis repudiandae enim? Id possimus unde dolore! Commodi, ad corrupti. Saepe, minus vel.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l4">
                        <div class="portfolio-card port-large ">
                            <div class="row">
                                <div class="col s12" style="overflow: hiden">
                                    <img src="assets/images/gig.jpg" alt="">
                                </div>
                                <div class="col s12 left-align">
                                    <h5>Title</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--</div>-->