<div class="banner">

</div>
<div class="" style="max-width: 1500px;margin: auto;padding: 20px">
    <div class="row">
        <div class="section col s12">
            <h4>My profile</h4>
            <div class="row">
                <p class="col s6">1000+ gigs found</p>
                <div class="col s6 m5 right">
                    <div class="row" sty>
                        <div class="col s12 m6">
                            <select class="browser-default">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
                        <div class="col s12 m6">
                            <select class="browser-default">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row" style="margin: 40px 0 0 0">
        <div class="col s12 m12 l3 filters" style="margin: 0 auto 20px auto">
            <div class="background-card" style="margin: auto">
                <div class="row">
                    <div class="type col s12">
                        <h5 style="margin: 0">Type</h5>
                        <div class="input-field col s12 type-input">
                            <input id="last_name" type="text" placeholder="Search" class="validate">
                            <ul class="sublist">
                                <li class="gray">test</li>
                                <li class="gray">test</li>
                                <li class="gray">test</li>
                                <li class="gray">test</li>
                                <li class="gray">test</li>
                            </ul>
                        </div>
                    </div>
                    <div class="time col s12">
                        <h5 style="margin: 0">Delivery Time</h5>
                        <ul class="sublist">
                            <li class="gray">up to 2 days</li>
                            <li class="gray">up to 1 week</li>
                            <li class="gray">2 to 3 weeks</li>
                        </ul>
                    </div>
                    <div class="price col s12">
                        <div class="row">
                            <h5 style="margin: 0;padding: 0" class="col s6">Price</h5>
                            <div class="col s6">
                                <h6 style="margin: 0" class="right">XX$ to YY$</h6>
                            </div>
                        </div>
                        <div id="slider"></div>
                    </div>
                    <div class="style col s12">
                        <div class="row">
                            <h5 style="margin: 0;padding: 0" class="col s12">style</h5>
                            <ul class="sublist">
                                <li class="gray">up to 2 days</li>
                                <li class="gray">up to 1 week</li>
                                <li class="gray">2 to 3 weeks</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l9">
            <div class="row">
                <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <div class="col s12 m6 l4">
                        <div class="gig-card" style="max-width: 250px;min-width: 210px;margin: 0 auto 20px auto">
                            <div class="rating small">
                                <i class="material-icons on">star</i>
                                <i class="material-icons on">star</i>
                                <i class="material-icons on">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                            </div>
                            <div class="pic">
                                <img src="assets/images/gig.jpg" alt="">
                            </div>
                            <div class="title">
                                <h6>
                                    I will kill you and have fun while watching it
                                </h6>
                            </div>
                            <div class="bottom">
                                <div class="posted-by left">
                                    <h6>
                                        chakabhai
                                    </h6>
                                </div>
                                <div class="rate right">
                                    <h6>
                                        $5
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>