<div class="container">
    <div class="row">
        <h4 class="col s12">Edit Profile</h4>
        <!--<hr>-->
        <form action="" class="details row col s12">
            <h5>
                Personal details
            </h5>
            <div class="input-field col s12 m6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
            </div>
            <div class="input-field col s12 m6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
            </div>
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Bio</label>
            </div>
            <h5>
                Contact details
            </h5>
            <div class="input-field col s12 m6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">city</label>
            </div>
            <div class="input-field col s12 m6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">State</label>
            </div>
            <div class="input-field col s12 m6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Zipcode</label>
            </div>
            <label>Browser Select</label>
            <select class="browser-default col s12 m6">
    <option value="" disabled selected>select contry</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
  </select>
        </form>
    </div>
</div>